@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
	line-height: 1.4;
}

a:link { 
	color: #000000; 
	text-decoration: none;
}

a:visited { 
	color: #000000; 
	text-decoration: none;
}

a:hover { 
	color: #000000; 
	text-decoration: underline;
}


.sidebar {
	background-color: #f2f2f2;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
	font-family: 'Comfortaa', cursive;
	font-size: 10pt;
  padding: 0pt;
}

.center {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.name {
  width: 90%;
	margin-left: auto;
  margin-right: auto;
  font-family: 'Comfortaa', cursive;
	font-size: 25pt;
}

.profile {
  width: 90%;
  margin-top: 10px;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
	font-family: 'Comfortaa', cursive;
	font-size: 11pt;
}

.sidebar ul {
  list-style-type: ". ";
  padding: 5px;
}

.menu {
  width: 90%;
	margin-left: auto;
  margin-right: auto;
	font-family: 'Comfortaa', cursive;
	font-size: 14pt;
}

.main {
	margin-left: 250px;
	background-color: #ffffff;
}

.title {
	background-color: #000000;
	font-family: 'Comfortaa', cursive;
	font-size: 14pt;
	color: #ffffff;
	display: inline-block;
	padding: 2px;
	line-height: 1.0;
}

.content {
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #a4a4a4;
}

.subcontent {
	font-family: 'Comfortaa', cursive;
	font-size: 12pt;
	padding: 10px;
}

.highlight {
	background-color: #f2f2f2;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
	font-family: 'Comfortaa', cursive;
	font-size: 11pt;
  text-align: center;
}
